/* add your main using fonts sizes bgc colors and whatever you need to add your page */
@import url("https://fonts.googleapis.com/css?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  background-image: url("../images/Mardi.jpg");
  background-repeat: round;
  width: 100%;
  position: relative;
}

#container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mardilogo {
  width: 85%;
  height: 85%;
}

@media (max-width: 768px) {
  .mardilogo {
    width: 45%;
    height: 45%;
  }
}

footer {
  text-align: center;
  font-size: 10px;
}

.firstpage {
  background-color: rgba(223, 217, 217, 0.8);
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
}

.wel {
  color: rgba(223, 217, 217, 0.8) !important;
  width: 40%;
  margin: 0 auto;
  font-family: "Pattaya", sans-serif;
}

@media (max-width: 768px) {
  .wel {
    width: 40%;
    margin: 0 auto;
    font-size: 1em;
  }
}

h2 {
  color: #0D0D0D;
  width: 40%;
  margin: 0 auto;
  font-family: "Pattaya", sans-serif;
}

@media (max-width: 768px) {
  h2 {
    width: 40%;
    margin: 0 auto;
    font-size: 1em;
  }
}

.row-sponsers {
  margin: 0 auto;
}

.carousel {
  width: 60%;
  margin: 0 auto;
}

.carousel-item img {
  height: 600px;
  width: 100%;
}

@media (max-width: 768px) {
  .carousel-item img {
    display: block;
    max-width: 100% !important;
    margin: 0 auto;
    width: auto;
    height: auto;
  }
}

@media (max-width: 768px) {
  a [class*=carousel-control] {
    display: none;
  }
}

.navbar {
  width: 100%;
  margin: 0 auto;
  font-family: "Henny Penny", cursive;
  font-size: 2.5em;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --c: rgba(13, 13, 13, 0.8);
  --t: transparent;
  background-image: repeating-linear-gradient(45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0), repeating-linear-gradient(-45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0), -webkit-gradient(linear, left top, right bottom, from(#9453A6), to(#8cbf3f));
  background-image: repeating-linear-gradient(45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0), repeating-linear-gradient(-45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0), linear-gradient(to bottom right, #9453A6, #8cbf3f);
}

.navbar .collapse .nav-link {
  border: 5px solid black;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .navbar {
    font-size: 1em;
  }
}

.navbar-toggler {
  border: 1px solid #F2F2F2 !important;
  background-color: #F2F2F2;
  opacity: 0.5;
}

.spons {
  width: 160px;
  height: 170px;
  border: 2px solid black;
  border-radius: 100px;
  margin: 0 auto !important;
}

@media (max-width: 768px) {
  .spons {
    max-width: 90px;
    max-height: 100px;
    margin: 0 auto !important;
    float: left;
  }
}

@media (max-width: 768px) {
  .fun {
    max-width: 200px;
    max-height: 200px;
    display: block;
    width: auto;
    height: auto;
  }
}

.home {
  background-color: #9453A6;
}

.about {
  background-color: #8cbf3f;
  color: black !important;
}

.galery {
  background-color: #F2CC0F;
  color: black !important;
}

.qa {
  background-color: #F2F2F2;
  color: black !important;
}

.contact {
  background-color: #0D0D0D;
  color: white !important;
  border: 2px solid white !important;
}

P {
  font-size: 1.5em;
  color: #0D0D0D;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  P {
    width: 100%;
    font-size: 1em;
    display: block;
    margin: 0 auto;
  }
}

h1 {
  color: #0D0D0D;
  font-family: "Pattaya", sans-serif;
}

h3 {
  font-family: "Pattaya", sans-serif;
}

.qahead {
  color: #0D0D0D !important;
}

.laquifa {
  width: 60%;
  height: 60vh;
}

@media (max-width: 770px) {
  .laquifa {
    width: 100%;
    display: block;
    height: 60%;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .laquifa {
    width: 60%;
    position: relative;
    height: 60%;
  }
}

.latoya {
  width: 46%;
  height: 50vh;
  float: left;
  display: block;
}

@media (max-width: 768px) {
  .latoya {
    width: 30%;
    height: 24vh;
    max-width: 200px;
    display: block;
  }
}

.frame {
  width: 18%;
  position: fixed;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  display: block;
  height: 40%;
}

.frame1 {
  width: 18%;
  position: fixed;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  display: block;
  height: 40%;
}

.banners {
  background-color: rgba(223, 217, 217, 0.8);
  width: 500px;
  height: 500px;
}

footer {
  background-color: rgba(223, 217, 217, 0.8);
  width: 50%;
  border-radius: 10px;
  margin: 0 auto;
}

footer p {
  color: black;
  font-family: "Pattaya", sans-serif;
}

.stl {
  margin: 0 auto;
  background-color: rgba(223, 217, 217, 0.8);
  width: 92%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .stl {
    width: 92%;
  }
}

@media (max-width: 768px) {
  h3[class*="panel"],
  div[class*="panel"] {
    font-size: 1em;
  }
}

.container {
  background-color: rgba(235, 231, 231, 0.8);
  border-radius: 10px;
}

.panel-heading {
  border: 2px solid black;
  border-radius: 10px;
}

.panel-body {
  border: 2px solid black;
  border-radius: 10px;
}

#heading0,
#heading1 {
  background-color: #9453A6;
}

#heading0 a,
#heading1 a {
  color: black;
}

#heading2,
#heading3 {
  background-color: #8cbf3f;
}

#heading2 a,
#heading3 a {
  color: black;
}

#heading4,
#heading5 {
  background-color: #F2CC0F;
}

#heading4 a,
#heading5 a {
  color: black;
}

#heading6,
#heading7 {
  background-color: #F2F2F2;
}

#heading6 a,
#heading7 a {
  color: black;
}

#heading8,
#heading9 {
  background-color: #0D0D0D;
  border: 2px white solid;
}

#heading8 a,
#heading9 a {
  color: white;
}

#heading10 {
  background-image: radial-gradient(circle, #F2F2F2, #F2CC0F, #8cbf3f, #9453A6);
}

#heading10 a {
  color: black;
}

#returnBtn {
  background-color: #9453A6;
  border: 2px solid black !important;
  border-radius: 10px;
}

#returnBtn a {
  color: black !important;
}

.cont {
  margin: 0 auto;
  background-color: rgba(235, 231, 231, 0.8);
  border-radius: 10px;
  max-width: 500px;
}

.gallery {
  margin: 0 auto !important;
  background-color: rgba(235, 231, 231, 0.8);
  height: 100%;
  width: 90%;
  border-radius: 10px;
}

figure {
  float: left;
}

@media (max-width: 768px) {
  figure {
    width: 50% !important;
    height: 50% !important;
    max-width: 300px;
    max-height: 300px;
    display: block;
    padding: 10px;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.gallery img {
  -webkit-transition: 1s;
  transition: 1s;
  padding: 5px;
  border-radius: 10px;
  border: 2px inset #9453A6;
}

.gallery img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a [class*="item"] {
  width: 90%;
  height: 41vh;
}

.forme {
  text-align: center;
  margin: 0 auto;
  font-family: "Pattaya", sans-serif;
  font-size: 1.5em;
}

.forme input {
  border-radius: 10px;
  width: 100%;
  display: block;
  max-width: 300px;
  margin: auto;
}

.forme input[type^='text'] {
  font-family: "Roboto", sans-serif;
}

.forme textarea {
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: block;
  max-width: 300px;
  margin: auto;
}

.forme #uemail {
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=style.css.map */